.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 1.2rem;
    position: relative;

    &-container {
        display: flex;
        align-items: center;
        width: 100%;
        height: inherit;

        &-logo {
            color: var(--yellow-theme-main-color);
            cursor: pointer;
            font-size: 2rem;
        }
    }

    &-container-menu {
        display: flex;
        list-style: none;
        text-align: center;

        &-item {
            line-height: 40px;
            margin-right: 1.5rem;
            font-size: 1.6rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                height: 3px;
                width: 0;
                background: transparent;
                transition: all 0.5s ease;
                position: absolute;
                bottom: -5px;
                left: 0;
            }

            &:hover::after {
                width: 100%;
                background: var(--yellow-theme-main-color);
            }

            &-links {
                color: var(--yellow-theme-main-color);
                text-decoration: none;
                padding: 0.5rem;
            }
        }
    }
}

.nav-icon {
    display: none;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    font-size: 2rem;
    z-index: 100;
}

@media only screen and (max-width: 768px) {
    .navbar {
        flex-direction: row;
    }

    .navbar-container-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: var(--yellow-theme-nav-background-color);
        border-top: 1px solid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        opacity: 0;
        transition: all 0.5s ease-in-out;
    }

    .navbar-container-menu.active {
        left: 0;
        opacity: 1;
    }

    .nav-icon {
        display: block;
    }
}
